.DS_Store
lib_managed/
project/boot/
project/build/target/
target/
src_managed/
project/plugins/project/
.idea/
.bsp
logs
target
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
sbt-cache
sbt-cache/*
.gitconfig

pnpm-lock.yaml
node_modules
/.pnpm-debug.log
/node_modules/
/docs/.vitepress/dist/
/docs/external/files
/docs/.vitepress/cache
.pnpm-store